:local {
    .container {
        position: relative;

        .base {
            height: 10px;
            width: 250px;
            background-color: black;
        }

        .trunk {
            height: 400px;
            width: 10px;
            background-color: black;
            margin-left: 120px;
        }

        .upper {
            height: 10px;
            width: 200px;
            background-color: black;
            margin-left: 120px;
        }

        .hook {
            height: 50px;
            width: 10px;
            background-color: black;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
